//partial css file
*,
*::after,
*::before{/*univeral selector*/
    margin: 0;
    padding: 0;
    box-sizing: inherit;/*gets rid of added paddings and margins*/
}


html{
    //defines what a 1rem is
    font-size: 62.5%;// 1rem = 10px 10px/16px * 100 = 62.5%
    /*This is 10px/16px(default fontsize)*100% = 62.5%*/


    // @include respond-phone{
    //     font-size: 50%;
    // }

    @include respond(tab-land){
        font-size: 56.25%;//1rem = 9px (9/16)* 100
    }
    @include respond(tab-port){
        font-size: 50%;//1rem = 8px, (8/16)* 100
    }
    @include respond(phone){
        // font-size: 50%;
    }
    @include respond(big-desktop){
        font-size: 75%;//1rem = 12, (12/16)*100
    }
}
body{
    box-sizing: border-box;
    padding: 1rem;

    @include respond(tab-port){
        padding: 0;
    }
}