.section-about{
    background-color: $color-grey-light-1;
    padding: 20rem 0;
    margin-top: -28vh;

    @include respond(tab-port){
        padding: 15rem 0;
        margin-top: -25vh;
    }
    @include respond(phone){
        padding: 15rem 0;
        margin-top: -10vh;
    }
}
.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(to right, rgba($color-primary,0.8),rgba($color-primary, 0.8)), url(/img/img-2.jpg);
    background-size: cover;
    margin-top: -10rem;

    transform: skewY(-7deg);


    .row{
        transform: skewY(7deg);
    }

    @include respond(tab-port){
        padding: 14rem 0;
    }
}
.section-tours{
    background-color: $color-grey-light-1;
    padding: 20rem 0 3rem 0;
    margin-top: -10rem;
    text-align: center;

    @include respond(tab-port){
        padding: 15rem 0 2rem 0;
    }
}
.section-story{
    padding: 15rem 0;
    background-color: $color-grey-light-1;

    @include respond(tab-port){
        padding: 10rem 0;
    }
}

.section-book{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book{
    background-image:linear-gradient(105deg,
                                     rgba($color-white, 0.8) 0%,
                                     rgba($color-white, 0.8) 50%,
                                     transparent 50%
                                ), url(../img/img-1.jpg);
    // height: 50rem;
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 3rem 6rem rgba($color-black, .3);

    @include respond(tab-land){
        background-image:linear-gradient(105deg,
                                     rgba($color-white, 0.8) 0%,
                                     rgba($color-white, 0.8) 65%,
                                     transparent 65%
                                ), url(../img/img-1.jpg);
                                background-size: cover;
    }
    @include respond(tab-port){
        background-image:linear-gradient(to right,
        rgba($color-white, 0.8) 0%,
        rgba($color-white, 0.8) 70%
   ), url(../img/img-1.jpg);
    }

    &__form{
        padding: 4rem;
        width: 50%;

        @include respond(tab-land){
            width: 70%;
        }
        @include respond(tab-port){
            width: 100%;
        }
    }
}